#calendar {
		max-width: 700px;
		margin: 0 auto;
	}
#invite .row{
	margin-top:10px; 
	margin-bottom: 10px;

}
#invite .largetext{
	font-size: 40px;
	font-weight:200; 

}
#invite .form-control {
	padding-left: 10px;
}

body {
    font-size: 100%;
    color: #7f8c97;
    background-color: #eaeff5;
}
