@font-face{
  font-family: "proxima-nova-regular";
  src:url("/static/fonts/ProximaNova-Regular.otf");}
@font-face{
  font-family: "proxima-nova-semibold";
  src:url("/static/fonts/ProximaNova-Semibold.otf");}
.title h1{
	text-align: center;
	font-size: 50px;
	font-family: "SourceSansPro-ExtraLight";
	color:#a2030e;

}
.title strong{
	font-family: "SourceSansPro-Regular"
}

#calendar {
		max-width: 700px;
		margin: 0 auto;
	}
#invite_pic{
	width: 100%;
}
#invite_pic_div
{
	width: 100%;
	margin: 0px;
	padding:0px;
}
#invite .row{
	margin-bottom: 10px;
}
#invite .largetext{
	font-size: 50px;
	font-weight:200; 

}
.icon{
  position: absolute;
  left: 12px;
  top: 9px;
  font-size: 15px;
  z-index: 999;
  color: #333;
}

body {
    font-size: 100%;
    background-color: #eaeff5;
}
.styled-select{
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   color: #858282;
    border: none;
}
.option-color{
	background-color: rgba(255,255,255,.2);
}

.create_invite,.search_invite{
	font-size: 20px;
	padding-left: 2px;
	border: none;
	    color: #a2030e;
}
.input-group-addon {
    
    font-size: 14px;
    
    background-color: #fff;
   
 }

#search_btn{
 	
 	border-left-width: 0px;
 }
	
 #search_invite_tag
 {
 	    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

 }
#search_btn,#search_invite_tag,#search_more_btn{
	height: 36px;
	margin: 0px;
	 font-size: 15px;
}
#search_btn:hover {
    color: #fff;
    background-color: #7f81e7;
    border-color: #7f81e7;
}
#invite_more_detail{
	    display:none;
}
.have_icon
{
	position: relative;
}

#search_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_more,#create_invite_tag
{
	border:none;
}
#invite_new_btn
{
	font-size: 34px;
	text-align: center;
	color: #7f81e7;

}
.creat
{
	font-weight:900;
}
#create_new_invite
{
	    display:none;
}
.search_invite_group{
	margin-bottom: 20px;
}
#invite_more_detail{
	margin-bottom: 30px;
}
#invite_png{
	float:right;
}
#submit_invite_btn button:hover {
    background-color: #292e6f;
    border-color: #292e6f;
}
#submit_invite_btn button {
    padding-left: 30px;
    padding-right: 30px;
    font-family: "proxima-nova-semibold",sans-serif;
    font-size: 15px;
    background-color: #7f81e7;
    border:none;
    color: #ffffff;
 }
