@font-face {
  font-family: 'entypo-selected';
  src: url("../fonts/entypo-selected.eot");
  src: url("../fonts/entypo-selected.eot?#iefix") format('embedded-opentype'), 
  url("../fonts/entypo-selected.woff") format('woff'), 
  url("../fonts/entypo-selected.ttf") format('truetype'), 
  url("../fonts/entypo-selected.svg#entypo-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}


.discover_state .icon-eye:before,
.discover_state .icon-cancel:before{
  font-family: 'entypo-selected';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
}
.state_title h1{
  text-align: center;
  font-size: 50px;
  font-family: "SourceSansPro-ExtraLight";
  color:#a2030e;

}


.state_title strong{
  font-family: "SourceSansPro-Regular"
}


.discover_state .icon-eye:before{ content: '\56'; } 
.discover_state .icon-cancel:before{ content: '\2715'; }



body {
    font-size: 100%;

    background-color: #eaeff5;
}
@media (min-width: 320px){
  .discover_state .uc-container {
  
     width: 120px;
     height: 90px;
}
.discover_state .uc-container_square {
  
     width: 120px;
     height: 120px;
}
.grid {
  width: 280px;
    margin: 20px auto;
}
.friend_item,.friend_item img
{
width: 90px; 
  height: 90px; 
}
.container_friend{
   width: 330px;
    margin: 20px auto;
}

}
@media (min-width: 992px){
.discover_state .uc-container {
     width: 160px;
     height: 120px;

}
.discover_state .uc-container_square {
  
     width: 160px;
     height: 160px;
}
.grid {
  width: 720px;
    margin: 20px auto;
}
.friend_item,.friend_item img
{
width: 120px; 
  height: 120px; 
}
.container_friend{
   width: 700px;
    margin: 20px auto;
}
}
@media (min-width: 1200px){
.discover_state .uc-container {
     width: 200px;
     height: 150px;

}
.discover_state .uc-container_square {
  
     width: 200px;
     height: 200px;
}
.grid {
    width: 880px;
    margin: 20px auto;
}
.friend_item,.friend_item img
{
width: 150px; 
  height: 150px; 
}
.container_friend{
   width: 850px;
    margin: 20px auto;
}
 }
.discover_state .uc-container {
    float: left;
    margin: 10px 10px;
}

.discover_state .uc-single, 
.discover_state .uc-final,
.discover_state .uc-initial-content,
.discover_state .uc-back,
.discover_state .uc-front {
    background: #7f81e7 ;
}
.discover_state img{
  width: 100%;
}
.discover_state .icon-eye {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 4px;
    font-size: 60px;
    color: transparent;
    color: rgba(255,255,255,0);
    width: 100%;
    height: 100%;
    line-height: 250%;
    text-align: center;
    background: rgba(127,129,231,0);
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.discover_state .uc-container_square .icon-eye {
  line-height: 300%;
}
.no-touch .discover_state .uc-initial-content:hover .icon-eye {
    color: rgba(255,255,255,0.8);
    background: rgba(127,129,231,0.7);
}

.discover_state .uc-initial-content img {
    display: block;
}

.discover_state .state_title {
    position: absolute;
    background: rgba(255,255,255,0.9);
    bottom: 10px;
    left: 10px;
    right: 10px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.discover_state .state_title h4 {
    color: #aaa;
}

.discover_state .icon_link{
    width: 30px;
    height: 30px;
    background: rgba(255,51,153,0.9);
    color: rgba(255,255,255,1);
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    text-indent: 1px;
    text-decoration: none;
}
.discover_state .icon-plus{
  top: 45px;
  background: rgba(127,129,231,0.9);
}
.icon-spinner {
  position: absolute;
  top:35px;
  font-size: 60px;
  font-weight: 900;
  color: rgba(127,129,231,0.5);
  right:30px;
}
a:hover{
    text-decoration: none;
    color:rgba(127,129,231,1);
}

.discover_state .icon-cancel {
    position: absolute;
    background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 15px;
    font-size: 18px;
    color: #fff;
    opacity: 1;
    width: 18px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

.discover_state .icon-cancel:hover {
    background: rgba(0,0,0,1);
}
.have_icon
{
  position: relative;
}
.find_friend input,#create_state_detail,#create_state_title{
  border:none;
}
.icon {
    position: absolute;
    left: 12px;
    top: 6px;
    font-size: 22px;
    z-index: 999;
    color: #333;
}
#find_friend_btn{
  font-size: 16px;
      color: #fff;
        background: #7f81e7;
    border-color: #7f81e7;
}
.find_friend,.create_state{
  font-size: 20px;
    padding-left: 2px;
   margin: 10px auto;
    border: none;
    color: #a2030e;

}
#discover_png{
  float:right;
  margin-top: 26px;
  margin-bottom: 10px;
}

.create
{
  font-weight:900;
}
.title p{
  text-align: center;
  font-size: 50px;
  font-family: "SourceSansPro-ExtraLight";
  color:#a2030e;
font-weight:200; 
}
#add_photo{
      font-size: 22px;
}

.filePrew { 
display: block; 
position: absolute; 
top: 0; 
left: 0; 
width: 200px; 
height: 39px; 
font-size: 100px; /* 增大不同浏览器的可点击区域 */ 
opacity: 0; /* 实现的关键点 */ 
filter:alpha(opacity=0);/* 兼容IE */ 
} 
.wrong_message .showing{
  bottom: auto;
}
#find_btn,#share_btn{
  font-family: "SourceSansPro-Regular";
  font-weight:200; 
  font-size: 50px;
  background-color: #eaeff5;
}
#submit_state_btn
{
   font-size: 22px;
   padding: 5px 20px;
   margin-top: 10px;
}
.find_friend,.create_state{
  display: none;
}
.create_state .have_icon .icon-camera{
position: absolute;
  left: auto;
  right:0px;
}
#warp{
  display: none;
  margin:30px 30px;
}

.friend_item
{
  margin:10px; 
  float: left; 
  border: 6px solid #ccc;
}

.friend_cover
{
  background-color: rgb(235,137,112); 
  text-align: center; 
 }
.container_friend
{
   border:solid 1px #ddd; 
    background:powderblue; 
   display: none;
  }

.friend_cover h2
{
  font-size:36px; 
  text-align: center; 
  color: #FFF; 
  border-bottom: 1px dashed #fff;
  margin:0px 20px; 
  padding:10px;
}
.friend_cover p
{
  font-size:14px; 
  text-align: center; 
  color: #FFF; 
  margin:0px 10px; 
  padding: 10px; 
  color: #438199;
}
.friend_cover button
{
  font-family: "arial"; 
  font-size:16px; 
  color: white;  
  background-color: #7f81e7; 
  border:none; 
  border-radius: 10px; 
  padding:4px 10px; 
}

.search_state_group{
  margin-bottom: 20px;
}
.search_state a:hover{
  text-decoration:blink;
}
.search_state{
  font-size: 20px;
  padding-left: 2px;
  border: none;
      color: #a2030e;
}
 #search_state_tag
 {
      border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

 }
#search_state_btn,#search_state_tag{
  height: 36px;
  margin: 0px;
   font-size: 15px;
}
#search_state_btn:hover {
    color: #fff;
    background-color: #7f81e7;
    border-color: #7f81e7;
}
#search_state_list{
  display: none;
}