@font-face{
	font-family: "proxima-nova";
	src:url("/static/fonts/ProximaNova-Light.otf");}
#myfooter{
	/*margin-top: 50px;*/
}
.contact-padding{
	padding-top: 40px;
	padding-bottom: 40px;
}
.contact-info{
	text-align: center;
	font-family: "proxima-nova";
	color: #4182c7;
}

.to-top div{
	background-color: #343a63;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	margin: auto;
	position: relative;
	top:-30px;
	left: 0;
	right: 0;
}
.phone{
	border-left-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-color: #dadbdb;
	
}
.gray-font{
	color: #7e8590;
	font-size: 18px;
}
footer{
	background-color: #343a63;
	padding-top: 0;
	padding-bottom: 50px;
}
#myfooter .align-center {
	text-align: center;
}
#myfooter p{
	color: #ffffff;
	text-align: center;
}
#myfooter h1{
	text-align: center;
	color: #ffffff;
	padding-bottom: 30px;
}
#myfooter a{
	color: #5cc1f0;
}