@font-face{
  font-family: "proxima-nova-regular";
  src:url("/static/fonts/ProximaNova-Regular.otf");}
@font-face{
  font-family: "proxima-nova-semibold";
  src:url("/static/fonts/ProximaNova-Semibold.otf");}
.title h1{
	text-align: center;
	font-size: 50px;
	font-family: "SourceSansPro-ExtraLight";
	color:#a2030e;

}


.title strong{
	font-family: "SourceSansPro-Regular"
}
.search_invite a:hover{
	text-decoration:blink;
}

#invite_pic{
	width: 100%;
}
#invite_pic_div
{
	width: 100%;
	margin: 0px;
	padding:0px;
}
#invite .row{
	margin-bottom: 10px;
}
#invite .largetext{
	font-size: 50px;
	font-weight:200; 

}
.icon{
  position: absolute;
  left: 12px;
  top: 9px;
  font-size: 15px;
  z-index: 999;
  color: #333;
}

body {
    font-size: 100%;
    background-color: #eaeff5;
}
.styled-select{
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   color: #858282;
    border: none;
}
.option-color{
	background-color: rgba(255,255,255,.2);
}

.create_invite,.search_invite{
	font-size: 20px;
	padding-left: 2px;
	border: none;
	    color: #a2030e;
}
.input-group-addon {
    
    font-size: 14px;
    
    background-color: #fff;
   
 }

#search_btn{
 	
 	border-left-width: 0px;
 }
	
 #search_invite_tag
 {
 	    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

 }
#search_btn,#search_invite_tag,#search_more_btn{
	height: 36px;
	margin: 0px;
	 font-size: 15px;
}
#search_btn:hover {
    color: #fff;
    background-color: #7f81e7;
    border-color: #7f81e7;
}
#invite_more_detail{
	    display:none;
}
.have_icon
{
	position: relative;
}

#search_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_more,#create_invite_tag
{
	border:none;
}
#invite_new_btn
{
	font-size: 34px;
	text-align: center;
	color: #7f81e7;

}
.creat
{
	font-weight:900;
}
#create_new_invite
{
	    display:none;
}
.search_invite_group{
	margin-bottom: 20px;
}
#invite_more_detail{
	margin-bottom: 30px;
}
#invite_png{
	float:right;
}
#submit_invite_btn button:hover {
    background-color: #292e6f;
    border-color: #292e6f;
}
#submit_invite_btn button {
    padding-left: 30px;
    padding-right: 30px;
    font-family: "proxima-nova-semibold",sans-serif;
    font-size: 15px;
    background-color: #7f81e7;
    border:none;
    color: #ffffff;
 }



.container_timeline{
	width: 1000px;
	margin: 0 auto;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==) repeat-y 165px 165px;
}

/* 默认样式 */
.timeline li {
	height: 160px;
	position: relative;
}

.timeline li div {
	position: absolute;
}

.timeline .check .spring {
	position: absolute;
	display: block;
	width: 51px;
	height: 6px;
	left: 105px;
	top: 47px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPElEQVQYV2NkQAP/gYARCNDFUQRgirAphitEl0TngxXisg5ZnBGXIpgbYfIYjkb3BNxGbBLYxIgyEaQRAA8KKAWYsZtjAAAAAElFTkSuQmCC);
}

.timeline .check s {
	position: absolute;
	display: block;
	left: 157px;
	top: 40px;
	width: 16px;
	height: 16px;
	border: 3px solid #41838E;
	background: #fff url(../images/sprite.png) 1px -100px;
	cursor: pointer;
}

.timeline .check .line {
	position: absolute;
	width: 38px;
	height: 1px;
	background: #fff;
	left: 180px;
	top: 50px;
	font-size: 1px;
}

.timeline .thumb {
	width: 82px;
	top: 13px;
	left: 32px;
}

.timeline .thumb img {
	width: 72px;
	height: 72px;
	border: 5px solid #41838E;
}

.timeline .thumb span {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #41838E;
	text-align: center;
	font-size: 12px;
	font-family: Arial black;
}

.timeline .content {
	left: 234px;
	top: 10px;
	width: 730px;
	border-left: 5px solid #41838E;
	background: #fff;
}

.timeline .content h3{
	margin: 23px 15px;
	font-size: 30px;
	font-family: microsoft yahei;
}

.timeline .content p {
	display: none;
}

.timeline .content b {
	position: absolute;
	display: block;
	width: 17px;
	height: 34px;
	background: url(../images/sprite.png);
	left: -21px;
	top: 25px;
}

/* 高亮样式 */
.timeline li.active {
	height: 230px;
}

.timeline li.active div {
	position: absolute;
}

.timeline .active .check .spring {
	left: 106px;
	top: 47px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAOfUjX+882+wYgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQBbNyaHFmzEqgAAAABJRU5ErkJggg==);
}

.timeline .active .check s {
	left: 152px;
	top: 36px;
	width: 20px;
	height: 20px;
	border: 5px solid #fff;
	background: #F26328 url(../images/sprite.png) 2px -200px;
	cursor: pointer;
}

.timeline .active .check .line {
	background: #F26328;
	width: 43px;
	left: 176px;
	top: 50px;
}

.timeline .active .thumb {
	width: 110px;
	top: 10px;
	left: -10px;
}

.timeline .active .thumb img {
	width: 100px;
	height: 100px;
	border: 8px solid #F26328;
}

.timeline .active .thumb span {
	color: #F26328;

}

.timeline .active .content {
	border-left: 5px solid #F26328;
}

.timeline .active .content p {
	display: block;
	margin: 23px 15px;
	line-height: 1.5;
	font-size: 14px;
}

.timeline .active .content b {
	background: url(../images/sprite.png) 0 -43px;
	left: -20px;
}