
html {  
  font-size: 16px; 
  font-family: "microsoft yahei"; 
}  
@media (max-width: 900px) {  
  html { font-size: 14px; }  
}  
@media (max-width: 400px) {  
  html { font-size: 12px; }  
}  

body {
    font-size: 100%;
    background-color: #eaeff5;
}

#invite .largetext{
	font-size: 3rem;
	font-weight:200;
	font-family: "microsoft yahei";

	color:#a2030e;
	text-align: center;
}

#invite_pic{
	width: 100%;
}
#invite_pic_div
{
	width: 100%;
	margin: 0px;
	padding:0px;
}
.search_invite a:hover{
	text-decoration:blink;
}
#invite .row{
	margin-bottom: 10px;
}

.icon{

  position: absolute;
  left: 12px;
  top: 9px;
  font-size: 1rem;
  z-index: 999;
  color: #333;
}

.styled-select{
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   color: #858282;
    border: none;
}
.option-color{
	background-color: rgba(255,255,255,.2);
	font-family: "microsoft yahei";
}

.create_invite,.search_invite{
	font-size: 1.25rem;
	padding-left: 2px;
	border: none;
	    color: #a2030e;
}
.input-group-addon {
    
    background-color: #fff;
   
 }
.input-group-addon a{
    
    font-size: 1rem;
 }
#search_btn{
 	
 	border-left-width: 0px;
 }
	
 #search_invite_tag
 {
 	    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;

 }
#search_btn,#search_invite_tag,#search_more_btn{
	height: 36px;
	margin: 0px;
	 font-size: 1rem;
}
#search_btn:hover {
    color: #fff;
    background-color: #7f81e7;
    border-color: #7f81e7;
}
#invite_more_detail{
	    display:none;
}
.have_icon
{
	position: relative;
}

#search_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_start_time{
	background-color: #fff;
	border:none;
}
#create_invite_more,#create_invite_tag
{
	border:none;
}
#invite_new_btn
{
	font-size: 2rem;
	text-align: center;
	color: #7f81e7;
	font-family: "microsoft yahei";
	padding:auto;
}
.creat
{
	font-weight:900;
}
#create_new_invite
{
	    display:none;
}
.search_invite_group{
	margin-bottom: 20px;
}
#invite_more_detail{
	margin-bottom: 30px;
}
#invite_png{
	float:right;
}
#submit_invite_btn button:hover {
    background-color: #292e6f;
    border-color: #292e6f;
}
#submit_invite_btn button {
    padding:auto 30px;
    font-size: 1rem;
    background-color: #7f81e7;
    border:none;
    color: #ffffff;
 }


img, ul, li,b{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ul {
	list-style: none;
}

.container_timeline{
	width: 1000px;
	margin: 0 auto;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==) repeat-y 165px 165px;
}

/* 默认样式 */
#timeline li {
	height: 160px;
	position: relative;
}

#timeline li div {
	position: absolute;
}

#timeline .check .spring {
	position: absolute;
	display: block;
	width: 51px;
	height: 6px;
	left: 105px;
	top: 47px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPElEQVQYV2NkQAP/gYARCNDFUQRgirAphitEl0TngxXisg5ZnBGXIpgbYfIYjkb3BNxGbBLYxIgyEaQRAA8KKAWYsZtjAAAAAElFTkSuQmCC);
}

#timeline .check s{
	position: absolute;
	display: block;
	left: 157px;
	top: 40px;
	width: 16px;
	height: 16px;
	border: 3px solid #41838E;
	background: #fff url(/static/images/invite/sprite.png) 1px -100px;
	cursor: pointer;
}

#timeline .check .line {
	position: absolute;
	width: 38px;
	height: 1px;
	background: #fff;
	left: 180px;
	top: 50px;
	font-size: 1px;
}

#timeline .thumb {
	width: 82px;
	top: 13px;
	left: 32px;
}

#timeline .thumb img {
	width: 72px;
	height: 72px;
	border: 5px solid #41838E;
}

#timeline .thumb span {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #41838E;
	text-align: center;
	font-size: 0.75rem;
	font-family: Arial black;
}

#timeline .content {
	left: 234px;
	top: 10px;
	width: 730px;
	border-left: 5px solid #41838E;
	background: #fff;
}

#timeline .content h3{
	margin: 23px 15px;
	font-size: 2rem;
	font-family: "microsoft yahei";
}

#timeline .content p {
	display: none;
}

#timeline .content b {
	position: absolute;
	display: block;
	width: 17px;
	height: 34px;
	background: url(/static/images/invite/sprite.png);
	left: -21px;
	top: 25px;
}

/* 高亮样式 */
#timeline li.active {
	height: 230px;
}

#timeline li.active div {
	position: absolute;
}

#timeline .active .check .spring {
	left: 106px;
	top: 47px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAOfUjX+882+wYgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQBbNyaHFmzEqgAAAABJRU5ErkJggg==);
}

#timeline .active .check s{
	left: 152px;
	top: 36px;
	width: 20px;
	height: 20px;
	border: 5px solid #fff;
	background: #F26328 url(/static/images/invite/sprite.png) 2px -200px;
	cursor: pointer;
}

#timeline .active .check .line {
	background: #F26328;
	width: 43px;
	left: 176px;
	top: 50px;
}

#timeline .active .thumb {
	width: 110px;
	top: 10px;
	left: -10px;
}

#timeline .active .thumb img {
	width: 100px;
	height: 100px;
	border: 8px solid #F26328;
}

#timeline .active .thumb span {
	color: #F26328;

}

#timeline .active .content {
	border-left: 5px solid #F26328;
}

#timeline .active .content p {
	display: block;
	margin: 23px 15px;
	line-height: 1.5;
	font-size: 1rem;
}

#timeline .active .content b {
	background: url(/static/images/invite/sprite.png) 0 -43px;
	left: -20px;
}
.list_name{
	position: relative;
}
.list_p{
font-size: 2rem;
position: absolute;
top:10px;
left:10px;
	color: rgba(0,0,0,0.3);
	font-family: "microsoft yahei";
}