#navigation{
	background:#140d3f; 
	margin-bottom: 0px;
	border: 0px;
}
/*#menu a{
	color:#eeeaea;
	font-size: 18px;
}*/
#menu nav{
	padding-bottom: 10px;
	padding-top: 10px;
}
#different a:hover{
	color:#afef7f;
}
#logo a{
	margin-bottom: 3px;
}
#menu button{
	color:#eeeeee;
	font-size: 18px;
/*	font-weight:bold; 
*/	border-radius: 0px;
	background-color: #140d3f;
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
}
#home{
	color:#7f81e7;
	font-size: 18px;
}
.bar{
	color:#eeeeee;
	font-size: 18px;
}
#menu button:hover{
	color:#7f81e7;
	border-color: #666665;
}
#hs-slider .largetext{
	font-size: 50px;
	font-weight:200; 

}
#hs-slider{
	background: url(/static/images/background.png) center center no-repeat;
	background-size: cover;
	height: 500px;
	text-align: center;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}
#cover{
	width: 100%;	
}
.flexider{
	background: rgba(238,234,234,.7);
    position: relative;
}







