<div class="cd-timeline-block" id="{{content['id']}}">
    <div class="cd-timeline-img cd-picture">
        <span id="icon" class="icon-bell-alt"></span>
    </div>
    <div class="cd-timeline-content block-left">
        <h2>{{content['title']}}</h2>
        <p>{{content['detail']}}</p>
        <a href="http://www.thecolorrun.com.cn/" class="cd-read-more" target="_blank">阅读全文</a>
        <a class="join"><span class="icon-plus"></span>加入</a>
        <span class="cd-date" id="time">{{content['create_time']}}</span>
    </div>
    <div class="toright">
        <h2>Swimmmmm!</h2>
        <p>lalalallalalalalalalallalalalalalalallalalalalalalallalalalalalalallalalala
            lalalallalalalalalalallalalalalalalallalalalalalalallalalalalalalallalalala
        lalalallalalalalalalallalalalalalalallalalalalalalallalalalalalalallalalala</p>
    </div>
</div>