{% extends "header.html" %}
{% block header %}

{% end %}

{% block body %}

<div id="hs-slider">
<div id="content" class="container">
    <div class="row">
        <div class="title">
        	<div>
        		<p class="largetext">
        			MAKE
        			<strong>YOUR FITNESS</strong>
        			NOT ALONE
        		</p>
        	</div>
        </div>
        
        <div class="cover">
        	<div class="flexider" id="flexider1">
        		<div class="flex-viewpoint" style="overflow:hidden; positon:relative;">
        			
        		</div>
        	</div>
    	</div>
	</div>
	<div class="col-lg-6">
		aaaaaa
	</div>
	<div class="col-lg-6">
		bbbbbbb
	</div>
</div>
{% end %}
