
{% extends "header.html" %}
{% block header %}
{% end %}
{% block body %}
	<div id="time-row">
		<div id="title">
			<h1><strong>Create State</strong></h1>
			<form method="post" action="/discover/discover_page">
            	<p>Time:<br><input type="text" name="time"></p>
            	<p>Topics:<br><input type="text" name="topics"></p>
            	<p>State_content:<br><input type="text" name="state_content"></p>
            	<input type="submit" value="ok,submit my state">
        </form>
		</div>
	</div>
	{%end%}