{% extends "header.html" %}
{% block header %}
    <link rel="stylesheet" href="{{static_url('css/discover.css') }}">
    <link rel="stylesheet" type="text/css" href="{{static_url('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{static_url('css/discover_component.css') }}">
    <link rel="stylesheet" href="{{static_url('css/discover_default.css') }}">
    <link rel="stylesheet" href="{{static_url('css/pfold.css') }}">
    <script src="{{static_url('js/discover.js') }}"></script>
    <script src="{{static_url('js/jquery.pfold.js') }}"></script>
    <script src="{{static_url('js/discover_timeline.js') }}"></script>
    <script type="text/javascript">
    $(function() {
    // say we want to have only one item opened at one moment
    var opened = false;
    $( '#grid > div.uc-container' ).each( function( i ) {
    var $item = $( this ), direction;
    switch( i ) {
    case 0 :
    direction = ['right','bottom'];
    break;
    case 1 :
    direction = ['right','bottom'];
    break;
    case 2 :
    direction = ['left','bottom'];
    break;
    case 3 :
    direction = ['left','bottom'];
    break;
    case 4 :
    direction = ['top','right'];
    break;
    case 5 :
    direction = ['bottom','right'];
    break;
    case 6 :
    direction = ['top','left'];
    break;
    case 7 :
    direction = ['bottom','left'];
    break;
    case 8 :
    direction = ['right','top'];
    break;
    case 9 :
    direction = ['right','top'];
    break;
    case 10 :
    direction = ['left','top'];
    break;
    case 11 :
    direction = ['left','top'];
    break;
    }
    var pfold = $item.pfold( {
    folddirection : direction,
    speed : 300,
    onEndFolding : function() { opened = false; },
    // centered : true
    } );
    $item.find( 'span.icon-eye' ).on( 'click', function() {
    if( !opened ) {
    opened = true;
    pfold.unfold();
    }
    } ).end().find( 'span.icon-cancel' ).on( 'click', function() {
    pfold.fold();
    } );
    } );
    $("#share_btn").click(function(event) {
    /* Act on the event */
    $(".create_state").show('slow/400/fast');
    });
    $("#submit_state_btn").click(function(event) {
    /* Act on the event */
    $(".create_state").hide('slow/400/fast');
    });
    
    });
    $(function() {
    $("#menu .home").removeClass("home");
    $($("#menu .bar").get(1)).addClass("home");
    });
    </script>
{% end %}
{% block body %}
    <div class="container">
        <div class="discover_state">
            <div class="latest_state row">
                <div id="grid" class="grid clearfix">
                    {% for i in content %}
                        {% module discover_state(i) %}
                    {% end %}
                    
                </div>
            </div>
            <div class="title" >
                <div>
                    <p class="largetext">
                        Share your Health.
                        <button class="btn" id="share_btn">Share</button> your Happiness.
                    </p>
                </div>
            </div>
            <div class='row create_state' >
                <div class="col-sm-5 col-sm-offset-2">
                    <div class="row create_state">
                        <span class="create">Create your State:</span>
                        <div class="have_icon">
                            <span class="icon  icon-magic"></span>
                            <input type="text" class="form-control" id="create_state_title" placeholder="Say something in short...">
                        </div>
                        <div class="have_icon">
                            <span class="icon icon-edit"></span>
                            <textarea placeholder="Details" id="create_state_detail" class="form-control textareaMargin" rows="8"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-12" id="discover_png">
                            <img src="/static/images/discover/1.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">
                            
                            <button  type="submit" class="btn btn-default" id="submit_state_btn">Share</button>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="main">
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-10 18:30">
                    <span>4/10/13</span>
                    <span>18:30</span>
                    </time>
                    <div class="cbp_tmicon cbp_tmicon-phone">
                    </div>
                    <div class="cbp_tmlabel">
                        <h2>Ricebean black-eyed pea</h2>
                        <p>Winter</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-11T12:04">
                    <span>4/11/13</span>
                    <span>12:04</span>
                    </time>
                    <div class="cbp_tmicon cbp_tmicon-screen"></div>
                    <div class="cbp_tmlabel">
                        <h2>Greens radish arugula</h2>
                        <p>Caulie.</p>
                    </div>
                </li>
                
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-17 12:11">
                        <span>4/17/13</span>
                         <span>12:11</span>
                     </time>
                    <div class="cbp_tmicon cbp_tmicon-screen"></div>
                    <div class="cbp_tmlabel">
                        <h2>Greens radish arugula</h2>
                        <p>Caulie</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-04-18 09:56">
                        <span>4/18/13</span> 
                        <span>09:56</span>
                    </time>
                    <div class="cbp_tmicon cbp_tmicon-phone"></div>
                    <div class="cbp_tmlabel">
                        <h2>Sprout garlic kohlrabi</h2>
                        <p>
                                Parsnip lotus root celery yarrow seakale tomato         
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
            
{%end%}