<div class="uc-container {{content['square']}}">
    <div class="uc-initial-content">
        <img src="/static/images/discover/{{content['state_img']}}.jpg" id="discover_image{{content['id']}}" alt="image" />
        <span class="icon-eye"></span>
    </div>
    <div class="uc-final-content">
        <img src="/static/images/discover/{{content['state_img']}}.jpg" id="discover_image{{content['id']}}_large" alt="image-discover"/>
        <div class="state_title">
            <h4>{{content['state_title']}}</h4> by
            <a href="{{content['state_writer_link']}}" >{{content['state_writer']}}</a>
            <a class="icon_link icon-heart-empty"></a>
        </div>
        <span class="icon-cancel"></span>
    </div>
</div>