<!-- <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-bottom">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navfooter" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navfooter" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#contact">Contact</a></li>
                <li><a href="#contact">About</a></li>
            </ul>
        </div>
    </div>
</nav> -->
<section class="contact-info">
    <div class="container contact-container">
        <div class="row">
            <div class="col-md-4 border-right contact-padding">
                <h2>Address</h2>
                <img src="https://jcd.pl/data/themes/jcd/img/point.png" class="contact-icon inline">
                <span href="https://www.google.pl/maps/place/Lektykarska+20,+Warszawa" class="f18  gray-font">南京市·东南大学九龙湖校区</span>
            </div>
            <div class="col-md-4 phone contact-padding">
                <h2 class="f36">Telephone</h2>
                <img src="https://jcd.pl/data/themes/jcd/img/phone.png" class="contact-icon inline">
                <span class="gray-font">025 025 025</span>
            </div>
            <div class="col-md-4 border-left contact-padding">
                <h2 class="f36">Email</h2>
                <img src="https://jcd.pl/data/themes/jcd/img/mail.png" class="contact-icon inline">
                <a href="mailto:2336413616@qq.com">lalala@foxmail.com</a>
        </div>
    </div>
</div>
</section>

<footer>
<div id="myfooter" class="container align-center">
    <a onclick="toTop()" class="to-top"><i><img src="https://jcd.pl/data/themes/jcd/img/arrowtop.png" style="margin-top:10px;"></i></a>
    <p>
        
        <a href="https://jcd.pl/"> jcd.pl </a> | Na silniku <a href="http://pl.windu.org/">windu.org</a>
    </p>
</div>
</footer>
</body>
<script>
    $(document).ready(function() {
            $(".dropdown_close").click(function(event) {
            /* Act on the event */
            $("#verify_dropdown").hide();
            $("#signup_dropdown").hide();
            $("#login_div").hide();
            $("#find_password_dropdown").hide();
            $("#find_password_new_pwd").hide();
            });
                
            $(".forgot-password").click(function(event) {
            /* Act on the event */
            $("#verify_dropdown").hide();
            $("#signup_dropdown").hide();
            $("#login_div").hide();
            $("#find_password_dropdown").show();

            });
            $("#check_btn").click(function(event) {
            /* Act on the event */
            $("#verify_dropdown").hide();
            $("#signup_dropdown").hide();
            $("#login_div").hide();
            $("#find_password_new_pwd").show();

            });
            $("#login").click(function(event) {
            /* Act on the event */
            $("#verify_dropdown").hide();
            $("#signup_dropdown").hide();
            $("#login_div").show();
            $("#find_password_dropdown").hide();
            $("#find_password_new_pwd").hide();
            });

            $("#sign_up_btn").click(function(event) {
            /* Act on the event */
            $("#verify_dropdown").hide();
            $("#signup_dropdown").show();
            $("#login_div").hide();
            $("#find_password_dropdown").hide();
            });
            
            $("#verify").click(function(event) {
            /* Act on the event */
            $("#login_div").hide();
            $("#verify_dropdown").show();
            $("#signup_dropdown").hide();
            $("#find_password_dropdown").hide();
            });


            $("#login_btn").click(function() {

            if($("#login_check").is(':checked')){
            alert('hello');
            }
            jQuery.ajax({
            url: '/auth/login',
            type: 'POST',
            dataType:'json',
            data: {
            'info_email':$("#info_email_login").val(),
            'user_password':$("#password_login").val(),
            'code':$("#code_login").val()
            },
            success: function(data, textStatus, xhr) {
            // result = data.parseJSON();
            if(data['code']==200){
            $("#message").append('<p class="bg-success">登录成功</p>');
            }
            else{
            $("#message").append('<p class="bg-danger">'+data['content']+'</p>');
            }
            },
            error: function(xhr, textStatus, errorThrown) {
            $("#message").append('<p class="bg-danger">网络无法连接T_T</p>');
            }
            });
            });
            });
</script>

</html>