<section class="contact-info">
    <div class="container contact-container">
        <div class="row">
            <div class="col-md-4 col-xs-4 border-right contact-padding">
                <h2 class="forh2">Address</h2>
                <span class=" icon-map-marker larger-icon"></span>
                <span class="gray-font">南京市·东南大学九龙湖校区</span>
            </div>
            <div class="col-md-4  col-xs-4 phone contact-padding">
                <h2 class="forh2">Telephone</h2>
                <span class="icon-phone larger-icon"></span>
                <span class="gray-font">025 025 025</span>
            </div>
            <div class="col-md-4  col-xs-4 border-left contact-padding">
                <h2 class="forh2">Email</h2>
                <span class="icon-envelope"></span>
                <a class="gray-font" href="mailto:2336413616@qq.com">FitGo</a>
            </div>
        </div>
    </div>
</section>
<footer>
    <div id="myfooter" class="container align-center">
        <a onclick="toTop()" class="to-top"><div><img src="https://jcd.pl/data/themes/jcd/img/arrowtop.png" style="margin-top:10px;"></div></a>
        <h1>Let's talk!</h1>
        <p>
            We are availabel Monday and Friday,business hours Eastern time.
            <a href="mailto:2336413616@qq.com">fitgo@gmail.com</a> |Nanjing Jiulonghu <a href="http://www.seu.edu.cn">SEU</a>
        </p>
    </div>
</footer>
        
</body>
        <script src="{{static_url('js/unslider.min.js')}}"></script>
        <script src="{{static_url('js/homepage.js')}}"></script>
        <script src="{{static_url('js/footer.js')}}"></script>
</html>