{% extends "header.html" %}
{% block header %}

{% end %}

{% block body %}

<div id="hs-slider">
<div id="content" class="container">
    <div class="row">
        <div class="title">
            <div>
                <p class="largetext">
                    MAKE
                    <strong>YOUR FITNESS</strong>
                    NOT ALONE
                </p>
            </div>
        </div>
        
        <div id="slider" class="cover">
            <div class="flexider" id="flexider1">
                <div class="flex-viewpoint" style="overflow:hidden; positon:relative;">
                    <div class="banner">
                        <ul class="slider-image">
                            <li  style="width:1140px;float:left;display:block;">
                                <div class="inner">
                                    <div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 slide-text">
                                            <img src="/static/images/show1.jpg">                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 container-line highcharts-container" id="pic">
                                            <div id="pic-show">

                                            </div>
                                        </div>
                                    </div>
                            </li>
                            <li  style="width:1140px;float:left;display:block;">
                                <div class="inner">
                                    <div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 slide-text">
                                            <img src="/static/images/show1.jpg">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 container-line highcharts-container" id="pic">
                                            <div id="pic-show">

                                            </div>
                                        </div>
                                    </div>
                            </li>
                           <li  style="width:1140px;float:left;display:block;">
                                <div class="inner">
                                    <div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 slide-text">
                                            <img src="/static/images/show1.jpg">
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 container-line highcharts-container" id="pic">
                                            <div id="pic-show">

                                            </div>
                                        </div>
                                    </div>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="unslider-arrow prev">Previous slide</a>
                    <a href="#" class="unslider-arrow next">Next slide</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        aaaaaa
    </div>
    <div class="col-lg-4">
        bbbbbbb
    </div>
</div>
{% end %}
