{% extends "header.html" %}
{% block header %}
{% end %}
{% block body %}
    <!-- 广告语 -->
    <div id="hs-slider">
        <div id="content" class="container">
            <div class="row">
                <div class="title">
                    <div>
                        <p class="largetext">
                            MAKE
                            <strong>YOUR FITNESS</strong>
                            NOT ALONE
                        </p>
                    </div>
                </div>
                
                <!--            <div id="slider" class="cover">
                    <div class="flexider" id="flexider1">
                        <div class="flex-viewpoint" style="overflow:hidden; positon:relative;">
                            <div class="banner">
                                <ul class="slider-image">
                                    <li  style="width:1140px;float:left;display:block;">
                                        <div class="inner">
                                            <div>
                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 slide-text">
                                                <img src="/static/images/try2.png">                      </div>
                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 container-line highcharts-container" id="pic">
                                                    
                                                    <img src="/static/images/try2.png">
                                                    
                                                </div>
                                            </div>
                                        </li>
                                        <li  style="width:1140px;float:left;display:block;">
                                            <div class="inner">
                                                <div>
                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 slide-text">
                                                        
                                                        <img src="/static/images/try2.png">
                                                    </div>
                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 container-line highcharts-container" id="pic">
                                                        <img src="/static/images/try2.png">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li  style="width:1140px;float:left;display:block;">
                                            <div class="inner">
                                                <div>
                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 slide-text">
                                                        <img src="/static/images/try2.png">
                                                    </div>
                                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 container-line highcharts-container" id="pic">
                                                        <img src="/static/images/try2.png">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="#" class="unslider-arrow prev">Previous slide</a>
                                    <a href="#" class="unslider-arrow next">Next slide</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- 轮播遮罩 -->
                    <div class="shadow">
                        <div class="shadow1">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 words-container">
                                            <div class="show-words" id="words">
                                                <h1>HAVE A BETTER RUN</h1>
                                                <p><strong>Life is short,have a BETTER RUN.</strong></p>
                                                <p>lalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalala</p>
                                            </div>
                                        </div>
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                            <div class="show-images">
                                                <img src="/static/images/show1.jpg" alt="...">
                                            </div>
                                        </div>
                                        <div class="carousel-caption">
                                            
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                            <div class="show-words" id="words">
                                                <h1>HAVE A BETTER RUN</h1>
                                                <p><strong>Life is short,have a BETTER RUN.</strong></p>
                                                <p>lalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalala</p>
                                            </div>
                                        </div>
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                            <div class="show-images">
                                                <img src="/static/images/show2.jpg" alt="...">
                                            </div>
                                        </div>
                                        <div class="carousel-caption">
                                            
                                        </div>
                                    </div>
                                    <div class="item ">
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                            <div class="show-words" id="words">
                                                <h1>HAVE A BETTER RUN</h1>
                                                <p><strong>Life is short,have a BETTER RUN.</strong></p>
                                                <p>lalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalala</p>
                                            </div>
                                        </div>
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                            <div class="show-images">
                                                <img src="/static/images/show3.jpg" alt="...">
                                            </div>
                                        </div>
                                        <div class="carousel-caption">
                                            
                                        </div>
                                    </div>
                                    <div class="item ">
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                            <div class="show-words" id="words">
                                                <h1>HAVE A BETTER RUN</h1>
                                                <p><strong>Life is short,have a BETTER RUN.</strong></p>
                                                <p>lalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalalalalalalalalalalalallalalalalalalalalalala</p>
                                            </div>
                                        </div>
                                        <div class="show col-lg-6 col-md-12 col-sm-12 col-xs-12 highcharts-container">
                                            <div class="show-images">
                                                <img src="/static/images/show4.jpg" alt="...">
                                            </div>
                                            <div class="carousel-caption">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Controls -->
                                <a class="none-shadow left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="none-shadow right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 主页动态块 -->
                    <div class="none-padding" >
                        <div class="row hs-boxes" id="blocks-word">
                            <div class="col-lg-6 col-xs-12">
                                <div class="box purple">
                                    <p class="box-title h2 h2-font">STATE</p>
                                    <p class="box-text hidden-xs">Do you want to use Highcharts for a personal website, a school site or a non-profit organisation? Then you don't need our permission, just go on!</p>
                                </div>
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="box pink">
                                    <p class="box-title h2 h2-font">INVITE</p>
                                    <p class="box-text hidden-xs">Based on native browser technologies, no plugins needed</p>
                                </div>
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="box blue">
                                    <p class="box-title h2 h2-font">ACTIVITY</p>
                                    <p class="box-text hidden-xs">Fork us on GitHub and participate in tech discussions</p>
                                </div>
                                
                            </div>
                            <div class="clearfix visible-sm visible-md visible-lg"></div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="box blue">
                                    <p class="box-title h2 h2-font">STATE</p>
                                    <p class="box-text hidden-xs">With modern browsers including mobile, tablets and old IE back to IE6</p>
                                </div>
                                
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="box gray">
                                    <p class="box-title h2 h2-font">INVITE</p>
                                    <p class="box-text hidden-xs">Add, remove and modify series and points or modify axes</p>
                                </div>
                                
                            </div>
                            <div class="clearfix visible-sm visible-md"></div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                
                                <div class="box purple">
                                    <p class="box-title h2 h2-font">STATE</p>
                                    <p class="box-text hidden-xs">Highcharts supports line, spline, area, areaspline, column, bar, pie, scatter, angular gauges, arearange, areasplinerange, columnrange and polar chart</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% end %}