{% if content['code'] == 200 %}
    {% fot item in range(len(content['content'])) %}
        <tr>
            <th scope="row">item</th>
            <td ><a href="/plans//Info/{{{{content['content'][item]['uid']}}}}">{{content['content'][item]['name']}}</td>
            <td >{{content['content'][item]['fit_item']}}</td>
            <td >{{content['content'][item]['fit_location']}}</td>
            <td >{{content['content'][item]['start_time']}}</td>
            <td >{{content['content'][item]['gender']}}</td>
            <td id="invite_message_btn_yes"><button class="btn btn-info">确认</button></td>
            <td id="invite_message_btn_no"><button class="btn btn-danger">拒绝</button></td>
        </tr>
    {% end %}
{% else %}
    <p>{{content['content']}}</p>
{% end %}

