{% if ret["code"] == 200 %}
	{% for item in ret["content"] %}
		<li class="active">
            <div class="check">
                <s></s>
            </div>
            <div class="thumb">
                <img src="/static/images/invite/top2.jpg" />
                <span>{{item['start_time']}}</span>
            </div>
            <div class="content">
                <b></b>
                <h3>{{item['fit_item']}}</h3>
                <h4>{{item['user_tag']}}</h4>
                <p>remark<p>
                    <button class="btn btn-danger confirm_invite">约！</button>
            </div>
        </li>
	{% end %}	
{% else %}
	<li class="wrong_message" >
           
            <div class="content">
                <b></b>
                <h3>Wrong information.</h3>
                <p>cannot find</p>
            </div>
        </li>
{% end %}