{% extends "header.html" %}

{% block header %}
    <link rel="stylesheet" href="{{static_url('css/fullcalendar.css') }}">
    <link media='print' rel="stylesheet" href="{{static_url('css/fullcalendar.print.css') }}">
 <link rel="stylesheet" href="{{static_url('css/fullcalendar.min.css') }}">    
     <script src="{{static_url('js/moment.min.js') }}"></script>  
     <script src="{{static_url('js/fullcalendar.js') }}"></script>
    <script src="{{static_url('js/fullcalendar.min.js') }}"></script>
 

    <script>
    $(document).ready(function() {
        
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            
        });
        
    });

</script>
    
{% end %}
{% block body %}
    <div class='container'>
    <div id='calendar'></div>
</div>
{% end %}