{% extends "header.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/plans.css') }}">
<link rel="stylesheet" type="text/css" href="{{static_url('css/font-awesome.min.css') }}">
{% end %}
{% block body %}
<div class="container moreMargin">
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 ">
        <img class="alignCenter" src="/static/images/pic.svg">
    </div>
    <div class="col-xs-9 col-xs-offset-3 col-sm-8 col-sm-offset-0 col-md-9 fontStyle">
        <h3>Your Name</h3>
        <h2>Signature:lalalalalala</h2>
        <a href="/plans/Info"><span class="icon-edit"></span>修改个人信息</a>
    </div>
</div>
</div>
{% end %}


































